<h1>Testimonios</h1>
<div class="testimonies">
  <div class="row my-4">
    <div class="col-md-3 col-12">
      <img src="assets/images/testimony.png" alt="" class="testimony">
    </div>
    <div class="col-md-3 col-12">
      <p>Un espacio dedicado a
        reunir a los animales
        perdidos con sus familias.</p>
    </div>
    <div class="col-md-3 col-12">
      <img src="assets/images/testimony2.png" alt="" class="testimony">

    </div>
    <div class="col-md-3 col-12">
      <p>Un espacio de dicado a
        reunir a los animales
        perdidos con sus familias.</p>
    </div>
  </div>
</div>
