<div class="">
  <h1>
    SÉ PARTE DE SONRISAS PELUDAS Y AYÚDANOS A ENCONTRARLES UN HOGAR
  </h1>
  <form class="py-5 join-us-form mx-auto">
    <div class="mb-3">
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Nombre">
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" id="correo" placeholder="Correo">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" id="telefono" aria-describedby="emailHelp" placeholder="Telefono">
    </div>
  </form>
</div>

